h3 {
  font-weight: bold
}

.position-desc img {
  height: 100%;
  min-width: 50%;
  width: 100%;
  object-fit: cover;
}

.card {
  border: none;
}

.card-header {
  background-color: white;
}

.accordion .btn {
  color: #B6A1C4;
}
