.donate-button {
  text-align: center;
  color: #FFF;
  border: none;
  background-color: #FF6B98;
  align-items: center;
  padding: 7px 35px;
  font-size: 35px;
  font-weight: bold;
  border-radius: 6px;
}

.donate-button:hover {
    opacity: 75%;
    text-decoration: none;
    color: #FFF;
    transition: .3s ease;
}

.b1 {
  padding-bottom: 40px;
  padding-top: 20px;
}

h1 {
  color: rgb(255, 107, 152)
}

h2 {
  text-align: center;
  font-size: 60px;
}

.curved {
  background-color: #ECE3F2;
  /* border-radius: 90px 90px 0 0;
  -moz-border-radius: 90px 90px 0 0;
  -webkit-border-radius: 90px 90px 0 0; */
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
  /* border-top-left-radius: 90px;
  border-top-right-radius: 90px;
  height: 100%;
  width: 100%; */
  padding-top: 50px;
}

.donate-header {
  padding-top: 50px;
  padding-bottom: 20px;
  font-size:10px;
}

.donate-story {
  background-color:#ECE3F2;
  padding-top: 20px;
}

.story-image {
  padding-bottom: 50px;
}

.prom-header-text {
  text-align: center;
}

.donate-promise {
  background-color: #E4D7ED;
}

.promise-header {
  padding-top: 50px;
  position: relative;
}

.promise-image {
  padding-bottom: 50px;
  width: 100%;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100%;
  height: 100%;
  left: 783px;
  object-fit: cover;
}

.top-logo {
  width: 100%;
  object-fit: contain;
}

.donate-impact {
    background-color:#ECE3F2;
    padding-top: 3%;
    padding-bottom: 3%;
}

.impact-header {
    text-align: center;
    padding-bottom: 1%
}

.donate-option1 {
    background: #FFFFFF;
    border: 6px solid #1CD5D5;
    padding: 3%;
    padding-top: 5%;
    text-align: center;
    width: 100%;
    height: 100%;
}

.donate-option1-header {
    color: #1CD5D5;
    font-size: 300%;
}

.donate-option2 {
    background: #FFFFFF;
    border: 6px solid #B6A1C4;
    padding: 3%;
    padding-top: 5%;
    text-align: center;
    width: 100%;
    height: 100%;
}

.donate-option2-header {
    color: #B6A1C4;
    font-size: 300%;
}

.donate-option3 {
    background: #FFFFFF;
    border: 6px solid #FF6B98;
    padding: 3%;
    padding-top: 5%;
    text-align: center;
    width: 100%;
    height: 100%;
}

.donate-option3-header {
    color: #FF6B98;
    font-size: 300%;
}

.donate-questions {
    background-color: #E4D7ED;
    padding-top: 3%;
    padding-bottom: 0.5%;
}

#email-link-donate:hover {
    opacity: 75%;
    text-decoration: none;
    transition: .3s ease;
}

.social, .secondary-links {
    background-color: #E4D7ED;
    padding-bottom: 0.1%;
}

.social {
    padding-bottom: 0.1%;
}

.nav-link:hover {
    opacity: 75%;
    transition: .3s ease;
}

/* mobile */
@media only screen and (max-width: 575px) {
    .story-header, .promise-header {
        text-align: center;
    }
    .promise-image {
        padding-bottom: 4%;
    }
    .donate-impact {
        padding: 7%;
    }
    .donate-questions {
        padding-top: 5%;
    }
    .col-sm {
        padding-bottom: 5%;
    }
}
