@import url("https://fonts.googleapis.com/css?family=Poppins:400,700,900");

body {
  font-family: 'Poppins';
}

h1, h2 {
  font-weight: bold;
}

.logo {
  background: linear-gradient(90deg, #00FFFF 0%, #AA96CA 46.35%, #FF6B98 100%);
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.navbar-toggler {
  border: none;
}

.nav-item {
  margin-left: 20px;
}

.nav-link {
  color: #B6A1C4 !important;
}

.nav-link:hover, .nav-link:active {
  color: #B6A1C4 !important;
  filter: brightness(1.2);
  transition: .3s ease;
}

.intro {
  padding-top: 50px;
}

.heading {
  color: #FF6B98;
}

.form-inline {
  padding-top: 20px;
}

.email-form {
  background: linear-gradient(90deg, #00FFFF 0%, #AA96CA 46.35%, #FF6B98 100%);
  padding: 5px;
}

#email-input {
  width: 330px;
  border: none;
  border-radius: 0;
}

.btn {
  background-color: transparent;
  border: none;
  color: white;
}

.btn:hover {
  filter: brightness(.9);
  transition: .3s ease;
}

.social {
  padding-top: 20px;
}

.social-link {
  display: block;
  background: #B6A1C4;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  padding: 8px;
}

.social-link:hover {
  filter: brightness(1.15);
  transition: .3s ease;
}

.main {
  margin-top: 50px;
  padding-left: 15%;
  padding-right: 15%;
}

.past-link {
  display: block;
  position: relative;
  margin-bottom: 30px;
}

.past-link img {
  min-height: 300px;
  height: 23vw;
  width: 100%;
  object-fit: cover;
}

.past-link:hover img {
  filter: brightness(1.07);
  transition: .3s ease;
}

.overlay {
  position: absolute;
  top: 7%;
  left: 3%;
  color: white;
}

.footer {
  height: 50px;
  line-height: 50px;
  background: linear-gradient(90deg, #00FFFF 0%, #AA96CA 46.35%, #FF6B98 100%);
  text-align: center;
  color: white;
  width: 100vw;
  margin-left: -15px !important;
}

/* navbar collapses */
@media only screen and (max-width: 767px) {
  .navbar-toggler  {
    margin: 0 auto;
    margin-left: 0px;
  }

  .nav-item {
    margin-left: 0px;
  }
}

/* mobile */
@media only screen and (max-width: 575px) {
  h1 {
    font-size: 1.60rem;
  }

  h2 {
    font-size: 1.45rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  .email-form {
    width: 100%;
    text-align: center;
  }

  #email-input {
    width: 100%;
  }

  .social-link {
    width: 35px;
    height: 35px;
    padding: 5px;
  }

  .main {
    padding-left: 0px;
    padding-right: 0px;
  }

  .heading {
    text-align: center;
  }

  .footer {
    font-size: .70rem;
  }
}
